*{
  max-width: 100%;
  box-sizing: border-box;
  font-size: 62.5%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


h1{
  font-size: 4rem;
}

p{
  font-size: 2rem;
}

/*
.container{
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,0,0,0.44021358543417366) 0%, rgba(55,64,77,1) 0%, rgba(18,18,18,1) 0%, rgba(73,81,93,1) 0%, rgba(34,44,59,1) 0%, rgba(48,48,48,1) 0%, rgba(48,57,71,1) 0%, rgba(59,68,81,1) 0%, rgba(0,0,0,1) 0%, rgba(35, 40, 48, 0.637) 0%, rgba(255,255,255,1) 100%);
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: white;

  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgb(0, 0, 0) 0%, rgba(55,64,77,1) 0%, rgba(18,18,18,1) 0%, rgba(73,81,93,1) 0%, rgba(34,44,59,1) 0%, rgba(48,48,48,1) 0%, rgba(48,57,71,1) 0%, rgba(59,68,81,1) 0%, rgba(90,97,108,1) 11%, rgba(255,255,255,1) 100%);
}

@media (max-width: 680px){
  .header{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  h1{
    font-size: 5rem;
  }
}

.image-container{
  display: flex;
  justify-content: center;

  width: 100%;
  max-width: 900px;
  margin: 2vh auto;
  
}

.image{
  width: 100%;
}

.image img{
  width: 100%;
  border-radius: 2%;
}

.description-container{
  margin: 2vh auto;
  padding: 5rem;

  width: 90%;
  max-width: 900px;
  border-radius: 5%;

  background: whitesmoke;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 14px 8px 13px rgba(0,0,0,0.35); 
  box-shadow: 0px 10px 13px -7px #000000, 0px 14px 8px 13px rgba(0,0,0,0.35);
}

.description-container .description p{
  line-height: 2;
  letter-spacing: 0.75px;
  font-weight: 500;
}

.footer-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

*/